:root {
	--dark: #111;
	--dark-alt: #333;
	--light: #fff;
	--light-alt: #ddd;
}

@media (prefers-color-scheme: dark) {
	:root {
		--dark: #fff;	
		--dark-alt: #ddd;
		--light: #111;
		--light-alt: #333;
	}
}

*::selection {
	background-color: var(--light-alt);
}
